body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #e0f7fa;
}

.header {
    padding: 20px 40px;
    font-size: 22px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    color: #00ffff;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.form-card {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 12px;
    width: 400px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #00ffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0,0,0,0.5);
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:hover {
    background: rgba(0,255,255,0.1);
}

/* STATUS COLORS */

.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.waiting {
    background: gold;
    color: black;
}

.consult {
    background: #2196f3;
    color: white;
}

.completed {
    background: #4caf50;
    color: white;
}

/* PRIORITY COLORS */

.emergency {
    color: red;
    font-weight: bold;
}

.senior {
    color: orange;
    font-weight: bold;
}

.normal {
    color: lightgreen;
    font-weight: bold;
}

a {
    color: #00ffff;
    text-decoration: none;
}

#clock {
    float: right;
}
.add-btn {
    padding: 10px 18px;
    background: #00ffff;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.add-btn:hover {
    box-shadow: 0 0 10px #00ffff;
}